.bg-pattern {
  background-color: #f8f9fa;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 145 254' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg%3E%3CclipPath id='_clip1'%3E%3Crect x='0' y='0' width='145' height='254'/%3E%3C/clipPath%3E%3Cg fill='%2523000000' fill-opacity='0.05' clip-path='url(%23_clip1)'%3E%3Cpath d='M33.084,-18.369l31.533,-18.144c4.354,-2.505 11.412,-2.505 15.766,0l31.533,18.144c13.062,7.516 13.062,19.701 0,27.216l-31.533,18.144c-4.354,2.505 -11.412,2.505 -15.766,0l-31.533,-18.144c-13.062,-7.515 -13.062,-19.7 0,-27.216Z'/%3E%3Cpath d='M42.422,101.936l-31.495,-18.211c-4.37,-2.509 -8.181,-8.966 -8.071,-14.014l0,-36.188c-0.015,-15.058 10.696,-20.944 23.741,-13.401l31.495,18.21c4.348,2.515 7.916,8.73 7.921,13.749l0,36.188c0.016,15.058 -10.546,21.21 -23.591,13.667Z'/%3E%3Cpath d='M102.608,101.936l31.494,-18.211c4.37,-2.509 8.181,-8.966 8.071,-14.014l0,-36.188c0.015,-15.058 -10.696,-20.944 -23.741,-13.401l-31.495,18.21c-4.348,2.515 -7.916,8.73 -7.921,13.749l0,36.188c-0.016,15.058 10.546,21.21 23.592,13.667Z'/%3E%3Cpath d='M33.084,245.153l31.533,-18.144c4.354,-2.505 11.412,-2.505 15.766,0l31.533,18.144c13.062,7.515 13.062,19.7 0,27.216l-31.533,18.144c-4.354,2.505 -11.412,2.505 -15.766,0l-31.533,-18.144c-13.062,-7.516 -13.062,-19.701 0,-27.216Z'/%3E%3Cpath d='M-43.076,113.392l31.533,-18.144c4.354,-2.505 11.413,-2.505 15.767,0l31.533,18.144c13.061,7.516 13.061,19.7 0,27.216l-31.533,18.144c-4.354,2.505 -11.413,2.505 -15.767,0l-31.533,-18.144c-13.061,-7.516 -13.061,-19.7 0,-27.216Z'/%3E%3Cpath d='M26.448,233.696l31.495,-18.21c4.37,-2.509 8.18,-8.966 8.07,-14.014l0,-36.188c0.016,-15.059 -10.695,-20.945 -23.741,-13.401l-31.494,18.21c-4.349,2.514 -7.916,8.729 -7.922,13.749l0,36.188c-0.015,15.058 10.547,21.209 23.592,13.666Z'/%3E%3Cpath d='M109.243,113.392l31.533,-18.144c2.396,-1.378 5.611,-1.998 8.743,-1.86c2.56,0.114 5.066,0.734 7.024,1.86l31.533,18.144c13.061,7.516 13.061,19.7 0,27.216l-31.533,18.144c-4.354,2.505 -11.413,2.505 -15.767,0l-31.533,-18.144c-13.061,-7.516 -13.061,-19.7 0,-27.216Z'/%3E%3Cpath d='M118.581,233.696l-31.494,-18.21c-4.371,-2.509 -8.181,-8.966 -8.071,-14.014l0,-36.188c-0.016,-15.059 10.695,-20.945 23.741,-13.401l31.494,18.21c4.349,2.514 7.916,8.729 7.922,13.749l0,36.188c0.015,15.058 -10.547,21.209 -23.592,13.666Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 20px;
  height: 100%;
}

h1 {
  cursor: pointer;
}

.plus-ikon {
  line-height: 0;
  cursor: pointer;
  user-select: none;

  // This in order for the ripple to not mess up the styling
  margin-right: 0 !important;
}

.unit {
  background-image: linear-gradient(105deg, hsla(69, 57%, 57%, 0.849) 5%, hsla(69, 70%, 29%, 0.87) 25%, hsla(69, 55%, 58%, 0.986) 50%, hsla(69, 57%, 57%, 0.774) 90%);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem;
}
