<div fxLayout="column" fxLayoutAlign="center center">
  <h1>WarcasterRoom</h1>

  <h3>
    Iron Star Alliance
  </h3>

  <h4>Warjacks</h4>
  <div class="unit-link" routerLink="unit/x">Firebrand</div>

  <h4>Units</h4>
  <div class="unit-link" routerLink="unit/x">Paladin Enforcers</div>

  <h4>Solos</h4>
  <div class="unit-link" routerLink="unit/x">Paladin Weaver</div>
  <div class="unit-link" routerLink="unit/x">Paladin Commander</div>

  <h3>
    Marchers Worlds
  </h3>

  <h4>Warjacks</h4>
  <div class="unit-link" routerLink="unit/1">Dusk Wolf</div>

  <h4>Units</h4>
  <div class="unit-link" routerLink="unit/2">Ranger Fire Team</div>

  <h4>Solos</h4>
  <div class="unit-link" routerLink="unit/x">Coalition Weaver</div>
  <div class="unit-link" routerLink="unit/x">Hunter</div>

  <h3>
    Aeternus Continuum
  </h3>

  <h4>Warjacks</h4>
  <div class="unit-link" routerLink="unit/x">Scourge</div>

  <h4>Units</h4>
  <div class="unit-link" routerLink="unit/x">Vassal Reavers</div>

  <h4>Solos</h4>
  <div class="unit-link" routerLink="unit/x">Immortal	Weaver</div>
  <div class="unit-link" routerLink="unit/x">Marauder</div>
</div>
