* {
  text-shadow: 2px 2px 8px rgb(56, 52, 52);
  font-size: min(max(1rem, 3vw), 3rem);

}

.card {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: scroll;
}

img {
  min-width: 30%;
  max-width: 100%;
}

.card-top {
  background-image: linear-gradient(105deg, hsla(69, 57%, 57%, 0.849) 5%, hsla(69, 70%, 29%, 0.87) 25%, hsl(61, 26%, 64%) 40%, hsla(69, 55%, 58%, 0.986) 50%, #c5c9a6 65%, hsla(69, 57%, 57%, 0.774) 90%);
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-right: 5rem;
}

.card-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 4rem;
}

.dc {
  white-space: nowrap;
}

.title {
  color: #060706c2;
}

.unit-image {
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 99999;
}

.faction-image {
  margin-left: 2.5rem;
  margin-right: 1rem;
}

h3 {
  margin-bottom: 0.2rem;
}

h4 {
  margin-top: 0;
}

.stats {
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: hsla(83, 47%, 75%, 0.486);

}

.weapons {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.411), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  padding: 1rem;
  background-color: hsla(83, 47%, 75%, 0.664);
  z-index: 99999;
}
